 


             <div class="row block">
              <div class="col-md-offset-3 col-md-6">
               <h3>WE MAKE PRODUCTS FOR HUMAN-DRIVEN ANALYSIS OF REAL-WORLD DATA</h3>
               
               <p>

                We’re focused on creating the world’s best user experience for working with data, one that empowers people to ask and answer complex questions without requiring them to master querying languages, statistical modeling, or the command line. To achieve this, we build platforms for integrating, managing, and securing data on top of which we layer applications for fully interactive human-driven, machine-assisted analysis
               </p>


   </div>
             </div>

             <div class="row block">
              <div class="col-md-offset-3 col-md-6">
               <h3>WE BUILD OUR COMPANY AROUND MISSION-DRIVEN ENGINEERING</h3>
               
               <p>

                We’re engineers, not academics. At our headquarters in Palo Alto and at offices around the world we’ve assembled a team that combines practical expertise in distributed systems infrastructure, big data processing, user experience design, and data science. Whatever their role, each Palantirian combines an uncompromising engineering mindset with an unwavering focus on executing in service of the mission.
               </p>


   </div>
             </div>

             <div class="row block">
              <div class="col-md-offset-3 col-md-6">
               <h3>WE MEET THE PROBLEMS WHERE THEY LIVE</h3>
               
               <p>

              Our customers have data and a deep understanding of the problems they face. We have proven products and an engineering mindset. We send our engineers into the field to work directly with our customers—deploying our products, integrating their data, optimizing their workflows, and producing operational results in weeks, not years. By establishing a true partnership, we help customers get the most out of our products and engineering expertise.
               </p>


   </div>
             </div>

             <div class="row block">
              <div class="col-md-offset-3 col-md-6">
               <h3>WE DESIGN TECHNOLOGY TO HELP INSTITUTIONS PROTECT LIBERTY</h3>
               
               <p>

             Analytic technology, especially in the hands of powerful institutions that hold large volumes of data, can pose serious risks to privacy and civil liberties. That's why we build privacy-protective capabilities into our products, help customers understand how to use them responsibly, and work with advocacy groups and the policy community on how technology can be used to protect privacy interests today and in the future. We have always been, and continue to be, committed to helping organizations get value out of their data while protecting sensitive information from misuse and abuse
               </p>


   </div>
             </div>

             <div class="row block">
              <div class="col-md-offset-3 col-md-6">
               <h3>WE GO WHERE WE’RE NEEDED MOST</h3>
               
               <p>

               We are engineers on a mission. We seek out the most critical problems we can find—the ones that pose threats not only to many of the world’s most important institutions, but to the people they serve as well. Some institutions have the resources to pay for our products, and some don’t. Whatever the situation, our approach with all our clients is the same: to establish a partnership that transforms the way they use data in pursuit of their goals.
               </p>


   </div>
             </div>


         
 