 <div class="overlay"></div>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">

            <h1 class="text-uppercase">
              Careers
               
            </h1>
             <p>At Palantir, we work for the common good—within our organization and with other organizations around the world. We’re building a future where data can be leveraged to serve people, create value, and improve quality of life.</p>
            
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#heading1"><span>Take a look</span></a>

          </div>

        </div>