  
    
            <h3> WAYS TO REACH US </h3>
            


            <div class="row my-row">
                <div class="col-md-4">
                    <h5>GENERAL</h5>
                    
                    <p>Submit a general inquiry
info@palantir.com</p>

                </div>

                <div class="col-md-4">
                    <h5>BUSINESS</h5>
                    
                    <p>Contact our business development team
business@palantir.com</p>

                </div>

                <div class="col-md-4">
                    <h5>MEDIA</h5>
                    
                    <p>Contact our press and media team
media@palantir.com</p>

                </div>

            </div>

              <div class="row">
                <div class="col-md-4">
                    <h5>PARTNERSHIPS</h5>
                    
                    <p>Contact our partnerships team
partnerships@palantir.com</p>

                </div>

                <div class="col-md-4">
                    <h5>PRODUCT SUPPORT</h5>
                    
                    <p>Contact our technical support team
support@palantir.com</p>

                </div>

                <div class="col-md-4">
                    <h5>RECRUITING</h5>
                    
                    <p>Contact our recruiting team
careers@palantir.com</p>

                </div>

            </div>


       


       
        <h3 class="my-row"> OFFICE LOCATIONS  </h3>
        
       <div class="row">
        <div class="col-lg-4">
          <h5> NORTH AMERICA </h5>
        
          <ul class="my-ul-2">
            
            <li><h6>Los Angeles</h6>

              <p>
                California
              </p>
            </li>

            <li><h6>New York</h6>
              <p>
                New York
              </p>
            </li>
            <li><h6>Ottawa</h6>
              <p>
                Canada
              </p>
            </li>
            <li><h6>Seattle</h6>
              <p>
                Washington
              </p>
            </li>
            <li><h6>Washington</h6>
              <p>
                D.C
              </p>
            </li>
          </ul>

        </div>

            <div class="col-lg-4">
          <h5> EUROPE & MIDDLE EAST </h5>
         
          <ul  class="my-ul-2">
            
            <li><h6>Abu Dhabi</h6>
              <p>
                United Arab Emirates
              </p>
            </li>

            <li><h6>New York</h6>
              <p>
                New York
              </p>
            </li>
           
            <li><h6>Washington</h6>
              <p>
                D.C
              </p>
            </li>
          </ul>

        </div>
         <div class="col-lg-4">
          <h5> ASIA & PACIFIC </h5>
         
          <ul class="my-ul-2">
            
            <li><h6>Los Angeles</h6>
              <p>
                California
              </p>
            </li>

            <li><h6>New York</h6>
              <p>
                New York
              </p>
            </li>
            <li><h6>Ottawa</h6>
              <p>
                Canada
              </p>
            </li>
            <li><h6>Seattle</h6>
              <p>
                Washington
              </p>
            </li>
            <li><h6>Washington</h6>
              <p>
                D.C
              </p>
            </li>
          </ul>

        </div>

      
      </div>

  

    </div>

<div class ="row my-row-2">


</div>

