  <div class="overlay"></div>
    <div class="video-container">
     <video autoplay  id="bgvid">
    <source src="videos/Email-Scroll.webm" type="video/webm">
    <source src="videos/Email-Scroll.mp4" type="video/mp4">
      <source src="video/Email-Scroll..ogv" type="video/ogg">
  </video>
</div>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">

            <h1 class="text-uppercase">
              Contact Us

            </h1>

            
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#redirect"><span>have something to say?</span></a>

          </div>
</div>
</div>
     