


              <div class="row" ng-controller="switchDiv as switch">
                <div class="col-lg-4">

                  <div id="first-div" class="animate-show" ng-show="switch.shower">
                 <h1>
                  Over 30 different Sectors
                 </h1>

                 <p>1.3 trillion dollars spent on 265 billion customer service calls each year. That’s five bucks a call.</p>

                </div>

                    <div id="second-div" class="animate-show" ng-show="!switch.shower">
                 <h1>
                  Expertise for every market
                 </h1>

                 <p>Enhance customer service. Empower agents. Reduce call center costs
                 Are you providing fast, accurate resolutions, regardless of channel? </p>

                </div>
                </div>

                <div class="col-lg-8">
                  <h1>
                    Enhance customer service. Empower agents. Reduce call center costs.
                  </h1>

                  <p>Are you providing fast, accurate resolutions, regardless of channel? Spend 5 minutes to answer 8 questions and find out how your customer service stacks up.</p>


                   <a class="btn btn-primary btn-xm js-scroll-trigger my-button" href="about.html"><span>This is our story</span></a>
                </div>
          

       </div> 
        

     
            <div >
            <h1 id="my-h1">What we make</h1>
            
            <hr>
            <p>We build data fusion platforms for integrating, managing, and securing any kind of data, at massive scale. On top of these platforms, we layer applications for fully interactive, human-driven, machine-assisted analysis</p>
            </div>

               <div class="row">
              <div class="col-md-6">

                <h4>Product 1 </h4>
                

                <p>Back-end infrastructure for integrating, managing, and securing data of any kind, from any source, at massive scale.</p>



            </div>
              <div class="col-md-6">
             
                <h4>product 2 </h4>
                

                <p>User interfaces that enable people to interact smoothly with data, ask better questions, and make better decisions.</p>



            </div>
             

          </div>   

           <div class="row">
              <div class="col-md-6">

                <h4>Product 1 </h4>
                

                <p>Back-end infrastructure for integrating, managing, and securing data of any kind, from any source, at massive scale.</p>



            </div>
              <div class="col-md-6">
             
                <h4>product 2 </h4>
                

                <p>User interfaces that enable people to interact smoothly with data, ask better questions, and make better decisions.</p>



            </div>
             

          </div>   
           

       
       
<!----- header ends> -------><!-->

            