


            <!-- Portfolio Section -->
      <h2 id="solutions">SOLUTIONS</h2>
      
      <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1468254095679-bbcba94a7066?auto=format&fit=crop&w=1049&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>CAPITAL MARKETS</h5>
         
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

       <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1494707924465-e1426acb48cb?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>CASE MANAGEMENT</h5>
         
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1456162018889-1d2b969f7084?auto=format&fit=crop&w=1052&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>CRISIS RESPONSE</h5>
           
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

       <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>CYBER</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1508313494143-60204a419ca9?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>DEFENSE</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

       <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>FINANCIAL COMPLIANCE</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1485761954900-f9a29f318567?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>GDPR</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

       <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1462715412043-8d09205be605?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>INSIDER THREAT</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

        <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>INSURANCE ANALYTICS</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
        <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1485056616736-b0840bdf4732?auto=format&fit=crop&w=1068&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>LAW ENFORCEMENT</h5>
              
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

          <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?auto=format&fit=crop&w=1049&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>
   
        <div class="col-md-7">
          <h5>LEGAL INTELLIGENCE</h5>
         
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
          <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1478744919174-118dbd24973e?auto=format&fit=crop&w=1051&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>

        <div class="col-md-7">
          <h5>PHARMA: RWE</h5>
     
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

    </div>

      <!-- /.row -->


