 <h2 id="solutions">What we are working on</h2>
      
      <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://cdn.pixabay.com/photo/2018/01/16/20/26/agriculture-3086792_1280.jpg">
        </div>

        <div class="col-md-7">
          <h5>Driverless Tractors</h5>
         
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

       <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://cdn.pixabay.com/photo/2015/12/07/14/18/drone-1080844_1280.jpg">
        </div>

        <div class="col-md-7">
          <h5>Drones</h5>
         
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://thumb1.shutterstock.com/display_pic_with_logo/4470334/725256820/stock-photo-smart-robotic-in-agriculture-futuristic-concept-robot-farmers-automation-must-be-programmed-to-725256820.jpg">
        </div>

        <div class="col-md-7">
          <h5>Automated farms</h5>
           
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>

      <div class="col-md-6">
        <div class="row">
        <div class="col-md-5">
          <img class="fill" src="https://images.unsplash.com/photo-1495036019936-220b29b930ea?auto=format&fit=crop&w=1050&q=80">
        </div>

        <div class="col-md-7">
          <h5>Prototype machines to plant crop</h5>
           
          <p>Interact with disparate data, conduct in-depth analysis, and discover more valuable insights in a unified, customizable environment.</p>
        </div>
         
      </div>
      </div>
</div>



        <h1> Aritifical Intelligence in Agriculture </h1>
       <p> According to World Bank report  , the world has to produce % more food by the year  2050  if the population continues to grow at the current rate. But it can be seen that the climate change is affecting the crop productions. So initiatives like autonomous tractors, ground-based sensors, flying drones and enclosed hydroponic farms can help farmers to produce more food at a lower cost .It's not very far that instead of cattle's on the field autonomous machines would be tilling , sowing and harvesting our agricultural fields. </p>

        <ul id="styles-list">
<li> Driverless tractors which  can follow pre-programmed routes are already in use at large farms across  the globe.</li>
<li> Drones are roaming  over fields analysing  crop health and soil conditions. Ground sensors are monitoring the amount of moisture and nutrients in the soil, initiating irrigation and fertiliser applications.</li>
<li> In Japan, the world's first entirely automated lettuce farm is set to  launch  this year. Japanese firm Spread's automated vegetable factory in Kyoto to be  launch this year can produce 30,000 lettuces a day.</li>
<li> Bosch's start-up Deepfield, based out of  Germany, is working to automate the growing and testing of seed crops, tracking the susceptibility to weeds and drought of different genetic varieties.</li>
<li> Engineers from Harper Adams University along  with a North Yorkshire farming technology company named Precision Decisions are working on  prototype machines and targets to plant their crop in March for harvest in September.</li>
<li> Shortage of farm labour in France's Burgundy region has led inventor Christophe Millot to develop a vine-pruning robot called Wall-Ye. The latest version of this trundling four-wheeled robot can make a cut every five seconds. It has six cameras some are with infrared sensors and two arms, and is operated by a tablet computer inside.</li>
</ul>

<br>

 <p>Artificial Intelligence works on certain set of data of event happened earlier and based on those data suitable predictions are made. But in the most cases in agricultural sector the data regarding precipitation rate, wind movement and many more valuable data are not collected or never been collected. In Agricultural Sector data of one type can be collected once in a year . So a lot of time and cost are involved in the implementation of Artificial Intelligence in Agriculture.
Any major initiative in a major scale can be successfully implemented only with the help of state or governments. Only very few countries mostly of developed countries like Britain , USA , China have taken the initiative to introduce AI in agriculture to increase productivity and enhance quality of food grains on the note of rising global population in the world.
In this initiative farmers play a key role .  They are the ones who will be directly using the application and will directly get benefitted from this initiative. So bringing them in the loop with proper awareness is a mandatory act for the success of this initiative.
The bridge between the Government Initiatives and the implementation of AI at the farmer level is the technology companies which will be using its technical resources to build up the whole AI ecosystem to function smoothly and accurately.</p>




 <p>Artificial Intelligence works on certain set of data of event happened earlier and based on those data suitable predictions are made. But in the most cases in agricultural sector the data regarding precipitation rate, wind movement and many more valuable data are not collected or never been collected. In Agricultural Sector data of one type can be collected once in a year . So a lot of time and cost are involved in the implementation of Artificial Intelligence in Agriculture.
Any major initiative in a major scale can be successfully implemented only with the help of state or governments. Only very few countries mostly of developed countries like Britain , USA , China have taken the initiative to introduce AI in agriculture to increase productivity and enhance quality of food grains on the note of rising global population in the world.
In this initiative farmers play a key role .  They are the ones who will be directly using the application and will directly get benefitted from this initiative. So bringing them in the loop with proper awareness is a mandatory act for the success of this initiative.
The bridge between the Government Initiatives and the implementation of AI at the farmer level is the technology companies which will be using its technical resources to build up the whole AI ecosystem to function smoothly and accurately.</p>
      

    